<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <img src="image/calendar.png" alt="Calendar Icon" class="logo-icon">
            <span class="logo-text">Campus Event Finder</span>
        </div>
        <div class="nav-center">
            <a href="index.html" class="nav-link">Home</a>
            <a href="events.html" class="nav-link">Events</a>
            <a href="profile.html" class="nav-link">Profile</a>
        </div>
        <div class="nav-right">
            <a href="login.html" class="nav-link-login">Login</a>
            <button class="btn-signup" onclick="window.location.href='register.html'">Sign Up</button>
        </div>
    </div>
</nav>